.content
{
    margin-left: 20%;
    
    width: 80%;
}

.card
{
    width:95%; 
    
}






.parcourir-photo
{
    position: absolute;
    border-radius: 25px;
    height: 40px;
    left: 35%;
    top: 73%;
}


.label-file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
}


.input-file 
{
    
    display: none;
}