<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content ">
                            <br>
                            <br>
                            <table class="table">
                                
                                  <ul class="table-header">
                                    <li>Nom</li>
                                    <li>Téléphone</li>
                                    <li>Adresse</li>
                                    <li>Adresse mail</li>
                                  </ul>
                               
                                <tbody id="tbody">
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>Oued Smar , aALger</td>
                                        <td class="text-primary">36,738000 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td><i class="material-icons">create</i></td>
                                        <td><i class="material-icons">clear</i></td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="add-banquier"><a routerLink ="../addbanquier">+</a></div>
</body>
</html>