  
    
    
    
    <div class="content-fluid">
        <div class="card">

                <div class="card-avatar">
                        <i class="material-icons material-icons--profil">
                            account_circle
                        </i>
                </div>
                <form> 
                        <div class="form-group label-floating" id="mail">
                            <label class="control-label">Email address</label>
                            <input type="text" class="form-control" name="mail" value="dl_ikhadallem@esi.dz">
                        </div>
                    
    
                        <div class="form-group label-floating">
                            <label class="control-label">Mot de passe</label>
                            <input type="password" class="form-control" name="mdp" value="Ikhadallem">
                        </div>
                        
                        <div class="col-md-3 envoie">
                            <div class="envoie-mail">
                                <input type="checkbox" name="mail" value="dl_ikhadallem@esi.dz">
                                <label for="mail" class="control-label">Par E-mail</label>
                            </div>
                            <div class="envoie-sms">
                                <input type="checkbox" name="mail" value="dl_ikhadallem@esi.dz">
                                <label for="mail" class="control-label">Par SMS</label>
                            </div>        
                        </div>    

                        <button type="submit"   
                        class="btn btn-info pull-center form-group" (click)="authentifier()">
                            Continuer
                            <i class="material-icons">arrow_forward</i>
                        </button>
                        <div class="clearfix"></div>
                </form>


        </div>

        <div class="fond"></div>

    </div>