
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content table-responsive">
                            <br>
                            <br>
                            <table class="table">
                                
                                  <ul class="table-header">
                                    <li>Date</li>
                                    <li>Titulaire</li>
                                    <li>Destinataire</li>
                                    <li>Montant</li>
                                    <li>Motif</li>
                                    <li>Status</li>
                                  </ul>
                               
                                <tbody id="tbody">
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td>destruction de l'INI</td>
                                        <td>accepté</td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td>destruction de l'INI</td>
                                        <td>accepté</td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td>destruction de l'INI</td>
                                        <td>accepté</td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2018</td>
                                        <td>good Lotfi</td>
                                        <td>bad Lotfi</td>
                                        <td class="text-primary">36,738 Dz</td>
                                        <td>destruction de l'INI</td>
                                        <td>accepté</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>