<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="content">
    <div class="card">
      <div class="card-header" data-background-color="orange">
        <h4>Ajouter une Banque</h4>
        <p>Ajoutez une banque avec laquelle vous aller effectuer des transactions</p>
      </div>
      <div class="card-content">
        <form>
            <div class="form-group label-floating pull-center">
                <label class="control-label">Code à trois(3) lettres</label>
                <input type="text" class="form-control" required maxlength="3">
            </div>
            <div class="form-group label-floating">
                <label class="control-label">Raison Sociale</label>
                <input type="text" class="form-control" required >
            </div>
            <div class="form-group label-floating">
                <label class="control-label">Adresse</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group label-floating">
                <label class="control-label">Adresse E-mail</label>
                <input type="email" class="form-control" required>
            </div>
            <button type="submit" class="btn pull-right" data-background-color="orange">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
